<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "ZT Admin Module"  %> </title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag     href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'apple-touch-icon' %>
    <%= render 'shared/shim' %>
  </head>

  <body>
    <%= render 'shared/flash_messages', flash: flash %>
    <%= render 'admin/shared/admin_top_navigation' %>
    
    <%= yield %>
  </body>

  <%= render 'shared/footer' %>
</html>

